@media (max-width: 1920px) {
    .bloco-formulario h3 {
        position: relative;
    }

    .bloco-formulario .gnosys-bloco-extra ul {
        position: absolute;
        right: 0;
        top: -5em;
    }

    .cad-gen-entidade-form {
        display: flex;
        flex-wrap: wrap;

    }

    .cad-gen-entidade-form > span.gnosys-campo {
        border-bottom: 1px solid #e0e0e0;
        display: flex;
        flex-basis: 33%;
        padding-bottom: .5em;
    }

    .cad-gen-entidade-form > span:nth-child(1),
    .cad-gen-entidade-form > span:nth-child(2),
    .cad-gen-entidade-form > span:nth-child(3){
        border-top: 1px solid #e0e0e0;
    }

    .cad-gen-entidade-form > span > label.gnosys-campo-label {
        margin-left: 1em;
        white-space: nowrap;
        flex-basis: 30%;
        min-width: 120px;
    }

    .cad-gen-entidade-form > span > span.gnosys-item-visualizacao {
        flex: flex-grow;
        flex-grow: 1;

    }

    .cad-gen-entidade-form > span > input[type="text"] {
        margin-top: .5em;
        height: 30px;
        width: 182px;
    }
}

@media (max-width: 1199px) {
    .cad-gen-entidade-form > span:nth-child(3){
        border-top: none;
    }

    .cad-gen-entidade-form > span.gnosys-campo {
        flex-basis: 50%;
    }
    
    .cad-gen-entidade-form > span > input[type="text"] {
        width: 262px;
    }
}

@media (max-width: 875px) {
    .cad-gen-entidade-form > span:nth-child(2){
        border-top: none;
    }

    .cad-gen-entidade-form > span.gnosys-campo {
        flex-basis: 100%;
    }
    
}