/*********************************
 *    Títulos
 *
 * - Genéricos
 * - Componentes:
 *	     Bloco, BlocoColuna e Coluna
 *********************************/

h3.gnosys-titulo.estilo2 {
	font-size: 28px;
	font-weight: bold;
	color: #363535;
	padding: 0px 0px 10px 0px;
	text-transform: none;
}

h4.gnosys-subtitulo.estilo2 {
	font-size: 19px;
	padding: 0px;
	color: #565558;
	font-weight: normal;
}

/*********************************
 *    Título do Serviço
 *********************************/

#titulo a.voltar {
    display: none;
}

#titulo small,
.panelResultado small,
hr {
    display: none;
}

/*********************************
 *    Item selecionado
 *********************************/
.rich-shuttle-source-cell-selected,
.rich-shuttle-target-cell-selected,
.rich-shuttle-source-cell-selected *,
.rich-shuttle-target-cell-selected *,
.rich-calendar-today:hover,
.rich-calendar-hover,
.sugestBoxSelect td, /* remover futuramente */
.gnosys-suggestionBox-selecionado td,
.rich-sdt-row-selected {
	background-color: #FFF0C8 !important;
    background-image: none !important;
    color: #000 !important;
}

/*********************************
 *    Filtro
 *********************************/
.filtro {
    background: #DBDDDE;
}

.filtro hr {
    border: none;
    display: block;
    height: 1px;
}

.filtro fieldset {
    border-style: none;
    margin: 0;
    padding: 0.5em 0;
}

/*********************************
 *    Campos do filtro
 *********************************/
.filtro fieldset#campos {
    text-align: left;
    width: 70%;
    margin: 0 15%;
}

.filtro fieldset#campos .gnosys-campo {
    margin: 0.2em 0;
    width: 50%;
}

.filtro fieldset#campos .gnosys-campo:nth-child(odd) {
    float: left;
}

.filtro fieldset#campos .gnosys-campo:nth-child(even) {
    float: right;
}

.filtro fieldset#campos .gnosys-campo .gnosys-mensagem {
	margin-left: 30%;
}

.filtro fieldset#campos .gnosys-campo .gnosys-campo-label {
    float: left;
    margin: 0;
    text-align: right;
    width: 28%;
}

.filtro fieldset#campos .gnosys-fieldset {
	float: right;
	width: 59%;
	margin-right: 10%;
}

.filtro fieldset#campos .gnosys-calendarfaixa {
	float: left;
	width: 60%;
}

.filtro fieldset#campos .gnosys-calendar-input,
.filtro fieldset#campos .gnosys-input, 
.filtro fieldset#campos .gnosys-inputarea, 
.filtro fieldset#campos .gnosys-select,
.filtro fieldset#campos .gnosys-selectlist {
	width: 60%;
}

.filtro fieldset#campos .gnosys-calendar-input,
.filtro fieldset#campos .gnosys-input, 
.filtro fieldset#campos .gnosys-inputarea {
    padding: 3px;
}

.filtro fieldset#campos .gnosys-calendarfaixa-ini-input,
.filtro fieldset#campos .gnosys-calendarfaixa-fim-input {
	width: 100%;
}

.filtro fieldset#campos .gnosys-select,
.filtro fieldset#campos .gnosys-selectlist {
    padding: 2px;
}

.filtro fieldset#campos input.gnosys-check  {
  margin: 1% 2% 0px 0px;
}

input.ajax {
    background-image: url("#{resource['img/gnosys/ajax.gif']}");
    background-position: 2px 3px;
    background-repeat: no-repeat;
    padding-left: 12px !important;
}

.filtro fieldset .dicaCmpDesabilitado,
.filtro fieldset .dica,
input.ajaxDataAcionado,
input.ajaxAcionado {
    color: #CCCCCC;
    font-style: italic;
}

.filtro fieldset .dicaCmpDesabilitado {
    color: #999999;
}

.filtro fieldset#campos .gnosys-campo.gnosys-campo-visualizacao .gnosys-campo-label  {
  margin-top: 0;
}

.filtro fieldset#campos .gnosys-campo.gnosys-campo-visualizacao {
  padding-top: 1%;
}

/*********************************
 *    Botões do filtro
 *********************************/
.filtro .btnConsultar,
.filtro .btnConsultar:hover,
.filtro .btnConsultar:active {
	padding-left: 25px;
    background-image: url("#{resource['img/gnosys/gnosysIcons/16/apps/xmag.png']}");
    background-repeat: no-repeat;
    background-position: 4px center;
}

.filtro .btnConsultar:disabled,
.filtro .btnConsultar:disabled:hover {
	background-image: url("#{resource['img/gnosys/requisicaoAjax.gif']}");
}


/*********************************
 *    Área de Mensagem e Botoes do filtro
 *********************************/
 .filtro div#gnosys-filtro-barra-inferior {
    padding: 0.5em 0;
 }
  
.filtro #gnosys-filtro-botoes {
    float: right;
}

.filtro #gnosys-filtro-botoes .gnosys-botao {
    margin-right: 10px;
}

.filtro #gnosys-filtro-mensagens ul.gnosys-mensagens {
    float: left;
}

 .filtro #gnosys-filtro-mensagens {
    float: left;
    font-family: 'FrutigerLight', Arial, sans-serif;
    
 }

.filtro #gnosys-filtro-mensagens span.info,
.filtro #gnosys-filtro-mensagens span.erro,
.filtro #gnosys-filtro-mensagens span.sucesso,
.filtro #gnosys-filtro-mensagens span.msgInicial {
    padding-left: 20px;
    margin-left: 5px;
    text-align: left;
    display: block;
}

.filtro #gnosys-filtro-mensagens span.msgInicial {
    color: #666666;
    font-style: italic;
}

.filtro #gnosys-filtro-mensagens span.info {
    background: url("#{resource['img/gnosys/gnosysImages/mensagem/info16.png']}") no-repeat scroll 2px top transparent;
    color: #1E97D0;
}

.filtro #gnosys-filtro-mensagens span.sucesso {
    background: url("#{resource['img/gnosys/gnosysImages/mensagem/success16.png']}") no-repeat scroll 2px top transparent;
    color: #86BC4F;
}

.filtro  #gnosys-filtro-mensagens span.erro {
    color: #C8412C;
    background: url("#{resource['img/gnosys/gnosysImages/mensagem/error16.png']}") no-repeat scroll 2px top transparent;
}

.filtro  #gnosys-filtro-mensagens span.erro ul {
    list-style: none outside none;
}

.filtro  #gnosys-filtro-mensagens span.erro ul li {
    margin-left: 5px;
}

/*********************************
 *    Silônios
 *********************************/
.silonioOff,
.silonio {
    display: block; /* importante para o filtro */
    height: 20px;
    width: 20px;
}

.silonio {
    background: url("#{resource['img/gnosys/requisicaoAjax.gif']}") no-repeat scroll center top transparent;
}

.filtro #areaMsg .silonio {
    background-color: #EEEEEE;
    position: absolute;
}

.gnosys-bloco-extra .silonio {
	background: none;
	float: right;
}

/*********************************
 *    Tooltip
 *********************************/
.ui-tooltip {
    background: none repeat scroll 0 0 #999999;
    border: 1px solid #666666;
    color: #FFFFFF;
    opacity: 0.9;
    padding: 5px;
    position: absolute;
    width: 12em;
}

.ui-tooltip h3, .ui-tooltip div {
    font-weight: normal;
    margin: 0;
    text-align: center;
}

.ui-tooltip.tabelaResultado {
    background: none repeat scroll 0 0 #333333;
}

.ui-tooltip.tabelaResultado h3 {
    font-size: 11px !important;
}

/*********************************
 *    Controle do filtro
 *********************************/
.filtroControle {
    background-color: #DBDDDE;
    height: 30px;
    color: #666666;
    border-bottom: 2px solid #fff;
}

.filtroControle .gnosys-botao {
    border: medium none;
    color: #666666;
    height: 17px;
    padding: 5.5px 5px 3px 28px;
    text-decoration: none;
    width: auto;
    
    /* removendo os estilos aplicados pela .gnosys-botao */
    background-color: transparent;
    border-width: 0px;
    border-style: none;
    border-color: transparent;
    
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
    
	-webkit-transition:	none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;

    text-shadow: none;
}

.filtroControle .gnosys-botao-comimagem {
	background-position-y: 5.5px;	
}

.filtroControle ul li {
    display: inline;
    list-style: none outside none;
   	padding-top: 5.5px;
    padding-bottom: 3px;
    float: left;
}

.filtroControle ul li.liRetrairFiltro {
	float: right;
	padding: 0px;
}

.filtroControle ul li.liRetrairFiltro a {
	width: auto;
	padding: 5.5px 5px 3px 28px;
	height: 17px;
	background-position: 8px 5px !important;
	background-repeat: no-repeat !important;
}

.filtroControle ul li a.retrairFiltro {
    background: url("#{resource['img/gnosys/formColapse.gif']}") repeat scroll left top transparent;
    float: right;
    outline-style: none;
}

.filtroControle ul li a.retrairFiltro:hover {
    background-color: transparent !important;
    background-image: url("#{resource['img/gnosys/formColapse_hover.gif']}");
}

.filtroControle ul li a.expandirFiltro {
    background: url("#{resource['img/gnosys/formExpand.gif']}") repeat scroll left top transparent;
    float: right;
    outline-style: none;
}

.filtroControle ul li a.expandirFiltro:hover {
    background-color: transparent !important;
    background-image: url("#{resource['img/gnosys/formExpand_hover.gif']}");
}

/*********************************
 *    Paginação
 *********************************/
.resultadoPaginacao {
	margin-top: 20px;
}

.resultadoPaginacao form {
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
    text-align: center;
}

.resultadoPaginacao form input {
    height: 18px;
    text-align: center;
    width: 28px;
}

.resultadoPaginacao form span {
    border: medium none;
    display: inline;
    margin-left: 0 !important;
    margin-top: 0 !important;
}

.resultadoPaginacao form span.paginacao {
	display: inline-block;
	vertical-align: middle;
}

.resultadoPaginacao a.primInativo,
.resultadoPaginacao a.antInativo,
.resultadoPaginacao a.proxInativo,
.resultadoPaginacao a.ultInativo,
.resultadoPaginacao a.prim,
.resultadoPaginacao a.ant,
.resultadoPaginacao a.prox,
.resultadoPaginacao a.ult {
	cursor: default;
    margin: 2px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: middle;
}

.resultadoPaginacao a.prim,
.resultadoPaginacao a.ant,
.resultadoPaginacao a.prox,
.resultadoPaginacao a.ult {
    cursor: hand;
}

.resultadoPaginacao a.prim:hover,
.resultadoPaginacao a.ant:hover,
.resultadoPaginacao a.prox:hover,
.resultadoPaginacao a.ult:hover {
    border-color: #C6C6C6;
	background-color: #F8F8F8;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.resultadoPaginacao a.prim {
    background-image: url("#{resource['img/gnosys/setaPrimeiro.gif']}");
}

.resultadoPaginacao a.primInativo {
    background-image: url("#{resource['img/gnosys/setaPrimeiroInativo.gif']}");
}

.resultadoPaginacao a.ant {
    background-image: url("#{resource['img/gnosys/setaAnterior.gif']}");
}

.resultadoPaginacao a.antInativo {
    background-image: url("#{resource['img/gnosys/setaAnteriorInativo.gif']}");
}

.resultadoPaginacao a.prox {
    background-image: url("#{resource['img/gnosys/setaProximo.gif']}");
}

.resultadoPaginacao a.proxInativo {
    background-image: url("#{resource['img/gnosys/setaProximoInativo.gif']}");
}

.resultadoPaginacao a.ult {
    background-image: url("#{resource['img/gnosys/setaUltimo.gif']}");
}

.resultadoPaginacao a.ultInativo {
    background-image: url("#{resource['img/gnosys/setaUltimoInativo.gif']}");
}

.resultadoControle,
.resultadoPaginacao {
    color: #666666;
}

/*********************************
 *    Controle de resultado
 *********************************/
.gnosys-input.qs_input {
	padding: 2px;
}

.resultadoControle {
	margin: 0;
    background-color: #F5F5F5;
    padding: 5px 0;
    text-align: left;
    min-height:26px;    
}

.resultadoControle span {
    float: right;
    margin-left: 5px;
}

.resultadoControle ul {
    float: right;
}

.panelResultado .resultadoControle ul {
    margin-top: 5px;
}

.gnosys-bloco-extra ul {
	text-align: right;
}

.resultadoControle ul li {
    display: inline;
    list-style: none outside none;
}

.gnosys-bloco-extra ul li {
	display: inline-block;
    list-style: none outside none;
}

.resultadoControle ul li form {
    display: none;
    float: left;
}

#gnosys-tabs-content-header ul li a {
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    margin-right: 4px;
    padding: 2px;
    border-radius: 2px 2px 2px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.gnosys-bloco-extra ul li a {
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}

.resultadoControle ul li a {
	color: #666666;
	text-decoration: none;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 4px;
    padding: 2px;
    border-radius: 2px 2px 2px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.resultadoControle ul li a:hover {
    color: #006666;

    border-color: #C6C6C6;
    
	background-image: linear-gradient(top, #F8F8F8, #F1F1F1);
	background-image: -o-linear-gradient(top, #F8F8F8, #F1F1F1);
	background-image: -moz-linear-gradient(top, #F8F8F8, #F1F1F1);
	background-image: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1);
	background-image: -ms-linear-gradient(top, #F8F8F8, #F1F1F1);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.73, #F8F8F8),
		color-stop(0.92, #F1F1F1)
	);
	
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.resultadoControle ul li.buscar a {
    background-image: url("#{resource['img/gnosys/gnosysIcons/16/apps/xmag.png']}");
}

.resultadoControle ul li.buscar a.gnosys-qs-aberto {
	background-image: url("#{resource['img/gnosys/gnosysIcons/16/apps/xmag.png']}");
}

.resultadoControle ul li.buscar a.gnosys-qs-aberto:hover {
    border-color: transparent;
	box-shadow: none;
	cursor: default;
}

.resultadoControle ul li a.fechar {
    background-image: url("#{resource['img/gnosys/iconeResultado_fechar.gif']}");
    display: none;
    margin-left: 0;
    padding: 0;
    
    height: 15px;
    width: 15px;
}

.resultadoControle ul li.gerarPdf a {
    background-image: url("#{resource['img/gnosys/gnosysIcons/16/mimetypes/pdf.png']}");
}

#gnosys-tabs-content-header ul li.gerarXls a,
.resultadoControle ul li.gerarXls a {
    background-image: url("#{resource['img/gnosys/gnosysIcons/16/mimetypes/spreadsheet.png']}");
}

.resultadoControle ul li.gerarCsv a {
    background-image: url("#{resource['img/gnosys/gnosysIcons/16/mimetypes/txt.png']}");
}

#gnosys-tabs-content-header ul li.abrirEditar a,
.resultadoControle ul li.abrirEditar a,
.gnosys-bloco-extra ul li.abrirEditar a {
  background-image: url("#{resource['img/gnosys/gnosysIcons/16/apps/kate.png']}");
}

#gnosys-tabs-content-header ul li.pdf a,
.resultadoControle ul li.pdf a,
.gnosys-bloco-extra ul li.pdf a,
.gnosys-botao.pdf {
  background-image: url("#{resource['img/gnosys/gnosysIcons/16/mimetypes/pdf.png']}");
}

.gnosys-botao:disabled.aguardar {
    background-image: url("#{resource['img/gnosys/requisicaoAjax.gif']}") !important;
}

/*********************************
 *    Modal de configuração de resultado
 *********************************/
#painelConfiguracaoContainer.gnosys-modal .gnosys-campo-label {
	width: 50%;
}

#painelConfiguracaoContainer.gnosys-modal .gnosys-select {
	width: 30%;
}

#painelConfiguracaoContainer.gnosys-modal .rich-list-shuttle-caption div { /* label do listshuttle */
	width: 100%;
}

/***************************************
 *    Abas
 ***************************************/
#gnosys-tabs {
	margin-top: 10px;
}

.gnosys-aba {
	padding: 5px 10px 3px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 1px solid #ccc;
	border-bottom: 0px;
	background: #F2F2F2;
	display: inline-block;
	vertical-align: bottom;
}

.gnosys-aba a {
	text-decoration: none;
	color: #B7B7B7;
}

.gnosys-aba a.voltar {
    background-image: url("#{resource['img/gnosys/filtroPb.gif']}");
    background-position: center 3px;
    background-repeat: no-repeat;
    display: block;
    width: 21px;
    height: 17px;
}

.gnosys-aba#gnosys-aba-selec {
	position: relative;
	z-index: 1;
	top: 1;
	padding-bottom: 8px;
	background: #0098d9;
}

.gnosys-aba#gnosys-aba-selec a{
	text-decoration: none;
	color: #fff;
}

#gnosys-tabs-content-header {
	background: none repeat scroll 0 0 #C0DDC6;
    height: 30px;
}

#gnosys-tabs-content {
	border: 1px solid #ccc;
	width: 100%;
}

/*********************************
 *    Área de resultado de filtro
 *********************************/
table td.alTxt, table th.alTxt {
    text-align: left;
}

table td.alNum, table th.alNum {
    text-align: right;
}

table td.alTaxa {
    text-align: right;
}

table.resultado {
	width: 100%;
	text-align: center;
	border-color: #FFFFFF;
}

table.resultado thead {
	border: none;
}

table.resultado th {
    background-color: #006666;
    background-image: none;
    color: #FFFFFF;
	padding: 3px;
}

table.resultado td {
    border-color: #FFFFFF;
    padding: 3px;
}

table .impar {
    background-color: #D5E2E2;
}

table .par {
    background-color: #E9F0F0;
}

table .hover {
    background-color: #A5D7B3;
    cursor: pointer;
}

table.resultado td.lupa {
    padding: 0 !important;
    width: 20px !important;
}

table.resultado td.lupa a {
    background-image: url("#{resource['img/gnosys/gnosysIcons/16/apps/kview.png']}");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 20px;
    outline: medium none;
    overflow: hidden;
    text-indent: -1900px;
    width: 20px;
    border: 1px solid transparent;
}

/*********************************
 *    Ajustes na decoração de dados pessoais
 *********************************/
.gnosys-decor-visdados-sidebar {
	padding-left: 2%;
	width: 18%;
	margin-top: 20px;
	position: absolute;
	min-width:200px;
}

.gnosys-decor-visdados-sidebar .gnosys-foto {
	float: right;
}

#gnosys-decor-visdados-sidebar.fixed {
    position: fixed;
    top: 0px;
}

#gnosys-decor-visdados-sidebar.absolute {
    position: absolute;
    top: 0px;
}

.gnosys-decor-visdados-conteudo.completo {
	float: none;
	width: 100%;
}

.gnosys-decor-visdados-conteudo .gnosys-calendar-input,
.gnosys-decor-visdados-conteudo .gnosys-input, 
.gnosys-decor-visdados-conteudo .gnosys-inputarea, 
.gnosys-decor-visdados-conteudo .gnosys-select,
.gnosys-decor-visdados-conteudo .gnosys-selectlist {
	width: 50%;
}

.gnosys-decor-visdados-conteudo .gnosys-groupRadio td {
	padding-right: 15px;
}

.gnosys-decor-visdados-conteudo .gnosys-calendarfaixa {
	width: 50%;
	float: left;
}

.gnosys-decor-visdados-conteudo .gnosys-calendarfaixa .gnosys-calendar-input {
	width: 100%;
}

.gnosys-decor-visdados-conteudo .gnosys-groupcheck {
	padding-top: 5px;
}

.gnosys-decor-visdados .gnosys-groupcheck .gnosys-check label {
  float: none;
  width: auto;
}

.gnosys-decor-visdados-conteudo .gnosys-bloco,
.gnosys-decor-visdados-conteudo .gnosys-blococoluna,
.gnosys-decor-visdados-conteudo .gnosys-subbloco {
	margin-bottom: 10px;
	margin-right: 6%;
}

.gnosys-decor-visdados-conteudo.completo .gnosys-bloco,
.gnosys-decor-visdados-conteudo.completo .gnosys-blococoluna {
	margin-bottom: 10px;
	margin-left: 6%;
	margin-right: 6%;
}

.gnosys-decor-visdados-conteudo .gnosys-campo-visualizacao .gnosys-campo-label,
.gnosys-decor-visdados-conteudo .gnosys-campo-edicao .gnosys-campo-label,
.gnosys-decor-visdados-conteudo .gnosys-check label {
    float: left;
    width: 48%;	
}

.gnosys-decor-visdados-conteudo .gnosys-bloco.gnosys-enderecoComMapa,
.gnosys-decor-visdados-conteudo .gnosys-blococoluna.gnosys-enderecoComMapa {
  padding: 0;
  margin: 0;
}

.gnosys-decor-visdados .gnosys-enderecoComMapa {
	padding: 4px 5px;
	margin-right: 0;
}

.gnosys-decor-visdados .gnosys-enderecoComMapa .gnosys-endereco {
    margin-right: 0;
}

.gnosys-decor-visdados .gnosys-enderecoComMapa-enderecos .gnosys-endereco-tipo {
	padding-left: 4px;
}

.gnosys-decor-visdados-conteudo .gnosys-select-tiposanguineo {
	width: 100%;
}

/*********************************
 *    Ajustes na decoração do decorVisAjuda
 *********************************/
.gnosys-decor-visajuda.gnosys-blococoluna {
	margin-top: 20px;
}
 
.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areaesquerda {
	width: 60%;
	float: left;
	display: block;
}

.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areaesquerda h3.gnosys-titulo {
  margin: 0 0 10px;
}

.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areaesquerda h4.gnosys-subtitulo {
	margin: 0 0 10px;
}

.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areadireita {
	float: right;
	width: 30%;
	display: block;
}

.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areadireita .gnosys-coluna-conteudo {
	padding: 0px !important;
}

.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areadireita .gnosys-bloco, 
.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areadireita .gnosys-subbloco, 
.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areadireita .gnosys-blococoluna, 
.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areadireita .gnosys-coluna,
.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areadireita .gnosys-bloco .gnosys-bloco-conteudo, 
.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areadireita .gnosys-subbloco .gnosys-subbloco-conteudo,
.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areadireita .gnosys-coluna .gnosys-coluna-conteudo {
   padding: 0px;
}

.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areadireita .gnosys-decor-visajuda-caixa {
	padding: 0 25px 15px 25px;
	background: #dbddde;
}

.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areadireita .gnosys-decor-visajuda-caixa a {
    color: #005555;
}

.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areadireita .gnosys-decor-visajuda-caixa .gnosys-subtitulo {
	background-color: transparent;
	padding: 15px 0px 0px;
}

.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areadireita .gnosys-decor-visajuda-caixa .gnosys-campo {
	margin-top: 15px;
	width: 100%;
}

.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areadireita .gnosys-decor-visajuda-caixa .gnosys-campo-label {
	display: block;
	margin-bottom: 3px;
}

.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areadireita .gnosys-decor-visajuda-caixa .gnosys-input,
.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areadireita .gnosys-decor-visajuda-caixa .gnosys-select {
	width: 100%;
}

.gnosys-decor-visajuda .gnosys-coluna.gnosys-decor-visajuda-areadireita .gnosys-decor-visajuda-caixa .gnosys-botao {
	margin-top: 10px;
}

/*********************************
 *    Ajustes na decoração do decorVisSeletor
 *********************************/
.gnosys-decor-visseletor {
  padding: 30px 6%;
}

.gnosys-decor-visseletor .gnosys-seletor {
  float: left;
  width: 18%;
}

.gnosys-decor-visseletor .gnosys-decor-visseletor-detalhes {
    float: right;
    width: 75%;
}

.gnosys-decor-visseletor .gnosys-decor-visseletor-botoes { 
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

/*********************************
 *    Ajuste do templateMenu
 *********************************/
.gnosys-template-menu .gnosys-template-menu-menu {
  width: 222px;
}

.gnosys-template-menu .gnosys-template-menu-conteudo {
  width: 700px;
  margin-left: 34px;
}

/*********************************
 *    Ajustes do templateError
 *********************************/
#gnosys-template-erro {
    background: #F8F8F8;
    border: 1px solid #DDD;
    min-width: 960px;
    color: #666;
    padding: 40px 0px;
}

#gnosys-template-erro-imagem {
    background: url(../img/images/error/error.png) center center no-repeat;
    min-height: 155px;
}

#gnosys-template-erro-mensagem {
    text-align: center;
}

ul#gnosys-template-erro-mensagens li {
    padding: 0.5em;
    text-align: center;
}

.gnosys-template-menu .gnosys-template-menu-menu .rich-pmenu-top-group
{
  background-repeat: no-repeat;
  background-position: 2px center;
  padding-left: 20px;
}

.gnosys-template-menu .gnosys-template-menu-menu .rich-pmenu-top-group.home
{  
  background-image: url("#{resource['img/gnosys/gnosysIcons/16/filesystems/folder_home.png']}");
}

.gnosys-template-menu .gnosys-template-menu-menu .rich-pmenu-top-group.editar
{  
  background-image: url("#{resource['img/gnosys/gnosysIcons/16/apps/kate.png']}");
}

.gnosys-template-menu .gnosys-template-menu-menu .rich-pmenu-top-group.usuario
{  
  background-image: url("#{resource['img/gnosys/gnosysIcons/16/apps/kuser.png']}");
}

.gnosys-template-menu .gnosys-template-menu-menu .rich-pmenu-top-group.estatistica
{  
  background-image: url("#{resource['img/gnosys/gnosysIcons/16/apps/kpercentage.png']}");
}

.gnosys-template-menu .gnosys-template-menu-menu .rich-pmenu-top-group.configurar
{  
  background-image: url("#{resource['img/gnosys/gnosysIcons/16/apps/kcontrol.png']}");
}

.gnosys-template-menu .gnosys-template-menu-menu .rich-pmenu-top-group.upload
{  
  background-image: url("#{resource['img/gnosys/gnosysIcons/16/actions/up.png']}");
}

.gnosys-template-menu .gnosys-template-menu-menu .rich-pmenu-top-group.megafone
{  
  background-image: url("#{resource['img/gnosys/gnosysIcons/16/actions/kmixdocked.png']}");
}

.gnosys-template-menu .gnosys-template-menu-menu .rich-pmenu-top-group.aplicar
{  
  background-image: url("#{resource['img/gnosys/gnosysIcons/16/actions/apply.png']}");
}

.gnosys-template-menu .gnosys-template-menu-menu .rich-pmenu-top-group.lupa
{  
  background-image: url("#{resource['img/gnosys/gnosysIcons/16/actions/viewmag.png']}");
}

.gnosys-template-menu .gnosys-template-menu-menu .rich-pmenu-top-group.folder_inbox
{  
  background-image: url("#{resource['img/gnosys/gnosysIcons/16/filesystems/folder_inbox.png']}");
}

.gnosys-template-menu .gnosys-template-menu-menu .rich-pmenu-top-group.tablet
{  
  background-image: url("#{resource['img/gnosys/gnosysIcons/16/devices/tablet.png']}");
}

/*********************************
 *    Ajustes na decoração do template
 *********************************/
.gnosys-template-datahora {
	display: none;
}

.gnosys-decor-visdados .gnosys-retratil .gnosys-bloco {
	padding-left: 12px;
}

/*********************************
 *    utils
 *********************************/
.gnosys-clear{
	clear: both;
}

.gnosys-blockpanel {
  display: none;
  top: 0px;
  width: 96%;
  height: 100%;
  z-index: 9999;
  position: absolute;
  padding-top: 15%;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
}

#blockPanel {
  background: rgba(32, 48, 48, 0.8) url("#{resource['img/gnosys/gnosysImages/ajax/ajaxLoader-black.gif']}") no-repeat scroll center 20%;
  color: #C0DDC6;
}
