/* ------------------------------------------------------------------- */
@media (max-width: 1199px) {
	
	#container {
    	min-width: 320px;
    	box-sizing: border-box;
	}
	
	.sub-header {
    	min-width: 320px;
    	box-sizing: border-box;
	}
	
	#content {
    	min-width: 320px;
    	box-sizing: border-box;
	}
	
	.breadcrumb ol {
    	padding: 20px 0px 0px;
	}
	
	.anb-gdt-data table.rf-dt thead {
    	display: none;
	}
	
	.anb-gdt-data table.rf-dt tr.rf-dt-r {
    	border: 1px solid #ccc;
    	border-top: 7px solid rgba(80,80,80,.25);
    	display: inline-block;
    	margin: 2px;
    	height: auto;
    	width: calc((100% - 18px)/3);
    	border-radius: 5px;
    	transition: .5s;
	}
	
	.anb-gdt-data table.rf-dt tr.rf-dt-r:hover {
    	background-color: #FFF;
    	border-color: rgba(0,152,217,.5);
    	box-shadow: 0 0 7px 1px rgba(0,0,0,.5);
    	transition: .5s;
	}
	
	.anb-gdt-data table.rf-dt tbody.rf-dt-b td.rf-dt-c {
    	border: none;
    	color: #0098d9;
    	padding: 5px;
    	display: inline-block;
    	width: calc(100% - 12px);
    	height: 2.25em;
	}
	
	.anb-gdt-data td.rf-dt-c:before {
    	color: #848688;
    	display: inline-block;
    	font-weight: normal;
    	margin-right: .25em;
	}
	
	.anb-gdt-data table.rf-dt tr.rf-dt-r td.rf-dt-c:nth-child(even) {
    	border: 1px solid transparent;
    	transition: 1.5s;
	}
	
	.anb-gdt-data table.rf-dt tr.rf-dt-r:hover td.rf-dt-c:nth-child(even) {
    	background-color: rgba(0,152,217,.07);
    	border-top: 1px solid rgba(0,152,217,.1);
    	border-bottom: 1px solid rgba(0,152,217,.1);
    	transition: .5s;
    	width: calc(100% - 12px);
	}
	
	.anb-gdt-data table.rf-dt tbody.rf-dt-b td.rf-dt-c a {
    	width: calc(100% + 12px);
    	display: block;
    	margin: -6px 0 0 -6px;
    	padding: 13px 10px;
    	position: relative;
    	left: 2em;
    	box-sizing: border-box;
    	text-align: left;
    	border-radius: 0 0 5px 5px;
    	background-color: transparent;
    	_transition: .5s;
	}
	
	.anb-gdt-data table.rf-dt tbody.rf-dt-b td.rf-dt-c a:before {
    	color: #c78502;
    	left: -.8em;
    	top: .5em;
	}
	
	.anb-gdt-data table.rf-dt td.right {
    	text-align: unset;
	}
	
	.anb-gdt-data table.rf-dt tbody.rf-dt-b td.rf-dt-c.tipo-colecao span.list-container:before {
    	float: none;
	}
	
	.anb-gdt-data table.rf-dt tbody.rf-dt-b td.rf-dt-c.tipo-colecao span.list-container:after {
    	content: "\f078";
    	color: #ccc;
    	font-family: 'FontAwesome';
    	font-size: 1.25em;
    	position: absolute;
    	padding: 2px;
    	right: 8px;
    	top: 21px;
	}
	
	.anb-gdt-data table.rf-dt tbody.rf-dt-b td.rf-dt-c.tipo-colecao span.list-container:hover:after {
    	background-color: #fff;
    	border-radius: 50%;
    	color: rgba(0,152,217,0.5);
    	line-height: normal;
    	right: 8px;
    	top: 21px;
    	z-index: 2;
	}
	
	.anb-gdt-data table.rf-dt tbody.rf-dt-b td.rf-dt-c.tipo-colecao span.list-container ul.rf-ulst {
    	padding-left: 15px;
    	height: 2.5em;
    	padding-right: 1.2em;
    	overflow-y: hidden;
	}
	
	.anb-gdt-data table.rf-dt tr.rf-dt-r td.rf-dt-c.tipo-colecao span.list-container:hover ul.rf-ulst     {
    	border: 1px solid #fff;
    	box-shadow: 1px 1px 6px 2px rgba(0,152,217,0.4);/* Anbima blue   */
    	background-color: white;
    	border-radius: 0 9px 9px 0;
    	cursor: hand;
    	font-weight: normal;
    	padding: 0.3em;
    	padding-left: 1.2em;
    	position: absolute;
    	height: auto;
    	list-style: disc;
    	width: calc(100% - 2.5em);
    	z-index: 1;
	}
	
	.anb-gdt-data table.rf-dt tr.rf-dt-r td.rf-dt-c ul.rf-ulst li {
    	margin-left: 1px;
    	margin-right: 13px;
	}
	
	.anb-gdt-data table.rf-dt tbody.rf-dt-b td.tipo-temporal,
	.anb-gdt-data table.rf-dt tbody.rf-dt-b td.cpf,
	.anb-gdt-data table.rf-dt tbody.rf-dt-b td.telefone,
	.anb-gdt-data table.rf-dt tbody.rf-dt-b td.cargo-usuario,
	.anb-gdt-data table.rf-dt tbody.rf-dt-b td.email-usuario,
	.anb-gdt-data table.rf-dt tbody.rf-dt-b td.nome-usuario,
	.anb-gdt-data table.rf-dt tr.rf-dt-r td.rf-dt-c.departamento-usuario {
    	height: auto;
	}
	
	.anb-gdt-data table.rf-dt tr.rf-dt-r td.rf-dt-c.tipo-colecao     {
    	height: 4em;
	}
	
	td.tipo-colecao span {
    	display: block;
	}
	
	td.tipo-colecao span:before {
	      color: #0098d9;
    	margin-left: -6px;
	}

}

@media (max-width: 939px) {

	#content {
    	padding-bottom: 280px;
	}
	
	.anb-bfc .anb-bfc-fields span.gnosys-campo {
    	width: 50%;
	}
	
	.anb-bfc .anb-bfc-fields .gnosys-campo:nth-child(2n) {
    	padding-right: 0;
	}
	
	.anb-bfc .anb-bfc-fields span.gnosys-campo:nth-child(6n-3) {
    	padding-right: 7px;
	}
	
	.anb-gdt-data table.rf-dt tr.rf-dt-r {
    	width: calc((100% - 12px)/2);
	}
	
	#footer > div {
    	min-width: 320px; 
	}
	
	#footer .links {
    	text-align: left;
	}
	
	.footer .links a {
    	width: 29%;
	}
	
	#footer .info p {
    	padding: 0px 10px;
    	clear: both;
	}
	
	#footer .info p > span.versao {
    	clear: both;
    	text-align: center;
    	width: 100%;
	}

}

@media (max-width: 835px) {

	.sub-header .menu-secoes {
    	text-align: left;
	}
	
	.anb-bfc div.anb-bfc-applied-values {
    	width: calc(100% - 170px);
    	display: inline-block;
	}
	
	.anb-bfc div.anb-bfc-buttons {
    	width: 170px;
	}

	.anb-gdt-header {
		display: inline-block;
	}
	
	/*  Quebra Direita */
	.anb-gdt-header-wrapper {
		text-align: center;
	}
	.anb-gdt-header .anb-gdt-control {
		clear: both;
		display: block;
		float: none;
	}

	.anb-gdt-control .anb-gdt-exportar label {
		display: none;
	}

	.anb-gdt-header .anb-gdt-control .anb-gdt-acoes {
		float: left;
	}

	.anb-gdt-header .anb-gdt-control .anb-gdt-exportar {
		float: right;
	}

}

@media (max-width: 768px) {
      
	#content div.bem-vindo {
    	width: calc(100% - 320px);
	}
	
}

@media (max-width: 596px) {
    .anb-gdt-data table.rf-dt tr.rf-dt-r {
    	width: 99%;
    	height: auto;
	}

 	.anb-gdt-data table.rf-dt tbody.rf-dt-b td.rf-dt-c.tipo-colecao  {
       	height: unset;
 	}

 	.anb-gdt-data table.rf-dt tbody.rf-dt-b td.rf-dt-c.tipo-colecao span.list-container:after {
		content: "";
	}

	 .anb-gdt-data table.rf-dt tbody.rf-dt-b td.rf-dt-c.tipo-colecao span.list-container ul.rf-ulst {
		position: relative;
		height: auto;
		overflow-y: unset;
		list-style: disc;
		padding: 0.3em;
		padding-left: 1.2em;
	 }

 	.anb-gdt-data table.rf-dt tr.rf-dt-r td.rf-dt-c.tipo-colecao span.list-container:hover:after {
    	border: none;
 	}
	 .anb-gdt-data table.rf-dt tr.rf-dt-r td.rf-dt-c.tipo-colecao span.list-container:hover ul.rf-ulst {
		position: relative;
		background-color: #FFF;
		border: unset;
		box-shadow: unset;
		font-weight: unset;
		height: auto;
		width: unset;
		z-index: unset;
	 }
 
 	.anb-gdt-data table.rf-dt tbody.rf-dt-b td.rf-dt-c {
 		height: auto;
 	}

	.anb-gdt-data table.rf-dt tbody.rf-dt-b td.administrar,
	.anb-gdt-data table.rf-dt tbody.rf-dt-b td.editar-usuario {
		height: 2.25em;
	}
      
}

@media (max-width: 559px) {

	#content {
    	padding-bottom: 263px;
	}
	
	.footer .links a {
    	text-align: center;
    	width: 40%;
    	float: left;
	}
	
	.footer div br {
    	display: none;
	}
	
}

@media (max-width: 525px) {

	div.cabecalho-tabela > span.botao {
    	right: auto;
    	top: 20px;
    	bottom: auto;
    	vertical-align: middle;
    	position: relative
	}
	
	#content div.bem-vindo,
	#content div.login-area {
    	margin-bottom: 1em;
    	width: 100%;
	}
	
	#content div.login-area #login {
    	box-sizing: border-box;
    	float: none;
    	margin: 0 auto;
    	width: 292px;
	}

	/* Quebra esquerda */
	.anb-gdt-header {
		width: 100%;
	}
	
	.anb-gdt-header .anb-gdt-info {
    	text-align: center;
	}

	.anb-gdt-header .anb-gdt-pag {
		float: none;
    	text-align: center;
	}

	.anb-gdt-header .anb-gdt-pag .page-size {
    	display: block;
    	margin: 1em 0 0;
    	margin-left: 0;
 	}

 	.anb-gdt-pag .page-size .gnosys-select-wrapper {
		margin-right: 2px;
 	}
 	
 	span.tsd {
 		margin-bottom: 1em;
 		position: inherit;
 	}
 	
}

@media (max-width: 469px) {

	#content {
    	padding-bottom: 275px;
	}
	
	.anb-bfc div.anb-bfc-fields span.gnosys-campo {
    	width: 100%;
	}
	
	.anb-bfc .anb-bfc-fields .gnosys-campo:nth-child(n),
	.anb-bfc .anb-bfc-fields .gnosys-campo:nth-child(2n),
	.anb-bfc .anb-bfc-fields span.gnosys-campo:nth-child(3n) {
    	padding-right: 0;
	}
	
	.anb-bfc div.anb-bfc-applied-values {
    	width: 100%;
    	padding-bottom: 15px;
	}
	
	.anb-bfc div.anb-bfc-buttons {
    	float: none;
    	text-align: center;
    	width: 100%;
	}

	.rf-st-start {
    	position: absolute;
    	margin: .5em 0 0 -1.5em;
	}
	
}

@media (max-width: 440px) {
      
	.entrada .logo img {
    	display: block;
	}
	
	.entrada.logo {
    	text-align: center;
	}
	
	.entrada.logo h1 {
		border-left: none;
		border-top: 1px solid #bdbfc1;
		margin: 16px 0 0;
		padding: 16px 0 0;
		text-align: center;
		width: 100%;
	}
	
	#content {
    	padding-bottom: 465px;
	}
	
	#footer .links a {
    	text-align: center;
    	width: 100%;
    	float: left;
    	margin-left: 0;
    	margin-right: 0;
 	}
	
	.sub-header .menu-secoes .subsecoes ul li {
    	width: 45%;
	}

}

@media (max-width: 416px) {

	#header-padrao > div {
    	height: 3.2em;
	}
	
	.sub-header .menu-secoes .subsecoes ul li {
    	width: 45%;
	}
	
	.anb-gdt-data table.rf-dt tr.rf-dt-r {
    	width: 98%;
	}
	
}
