/********************************************** 
 POC e SSM - Itens
**********************************************/

.rf-ulst {
	padding-left: 1em;
}

/********************************************** 
 POC e SSM - mensagensNotify
**********************************************/

div.rf-ntf-cnt {
	background-color: #fff;
	border: none;
}

div.rf-ntf {
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	border-radius: 5px;
	font-size: 12px;
}

div.rf-ntf-ico {
	width: 48px;
	height: 48px;
}

div.rf-ntf-sum {
	font-weight: normal;
}

div.rf-ntf-wrn {
	border: 1px solid #fcaf17;
}

div.rf-ntf-wrn div.rf-ntf-ico {
	background-image: url("#{resource['img/alert48.png']}");
}

div.rf-ntf-wrn div.rf-ntf-sum {
	color: #f90;
}

div.rf-ntf-err {
	border: 1px solid #f95b2a;
}

div.rf-ntf-err div.rf-ntf-ico {
	background-image: url("#{resource['img/error48.png']}");
}

div.rf-ntf-err div.rf-ntf-sum {
	color: #f95b2a;
}

div.rf-ntf-inf {
	border: 1px solid #71aa3f;
}

div.rf-ntf-inf div.rf-ntf-ico {
	background-image: url("#{resource['img/success48.png']}");
}

div.rf-ntf-inf div.rf-ntf-sum {
	color: #71aa3f;
}

/********************************************** 
 Richfaces
**********************************************/

.rf-dt .rf-dt-thd a {
	color: #363535;
	font-size: 12px;
}

.rf-dt {
	width: 100%;
	margin-bottom: 1em;
}

.rf-tbp>.rf-tab-hdr-tabline-vis.rf-tab-hdr-tabline-top {
	background: none;
	background-color: #fff;
	border: none;
	padding: 0;
	overflow: hidden;
	height: 45px;
	white-space: nowrap;
	position: relative;
}

.rf-tab-hdr.rf-tab-hdr-act.rf-tab-hdr-top {
	padding: .5em 1.2em;
	background-color: #dbddde;
	vertical-align: middle;
}

.rf-tab-hdr.rf-tab-hdr-act.rf-tab-hdr-top, 
.rf-tab-hdr.rf-tab-hdr-inact.rf-tab-hdr-top {
	padding: .5em 1.2em;
	vertical-align: middle;
}

.rf-tab-hdr.rf-tab-hdr-act.rf-tab-hdr-top {
	font-size: .9em;
	color: #0095da;
	font-weight: normal;
}

.rf-tab-hdr-tabs .rf-tab-hdr {
	white-space: nowrap;
	border: none;
	cursor: pointer;
	background-position: top;
	background-repeat: repeat-x;
	background-color: #bbb;
	color: #565658;
	border-radius: 10px 10px 0 0;
	font-size: .9em;
}

.rf-tab-hdr-tabs .rf-tab-hdr:hover {
	box-shadow: inset 0 10px 10px rgba(230,231,232,.3);
	-webkit-box-shadow: inset 0 10px 10px rgba(230,231,232,.3);
	-moz-box-shadow: inset 0 10px 10px rgba(230,231,232,.3);
}

.rf-tab-hdr-tabs .rf-tab-hdr-inact .contador-assuntos {
	background-color: #727476;
}

.rf-tab-hdr.rf-tab-hdr-inact.rf-tab-hdr-top {
	background: linear-gradient(#bbb,#bbb,#bbb,#bbb,#bbb,#bbb,#bbb,#aaa);
	backgrund-color: #bbb;
}

.rf-tbp>.rf-tab-hdr-brd {
	border: 5px solid #dbddde;
	border-top: 0px;
	height: 0px;
	background: none;
	margin-bottom: 2em;
}

.rf-tab>.rf-tab-cnt {
	border: none;
}

.rf-tab>label, .rf-tab>.gnosys-campo-edicao, .rf-tab>.gnosys-campo-label {
	margin-top: 2em;
}

.rf-dt-thd.rf-dt-shdr {
	background: #dbddde;
}

.rf-dt-shdr.rf-dt-shdr>th {
	background-color: #dbddde;
	border-bottom: 2px solid #bdbfc2;
	color: #565658;
	font-size: 12px;
	font-weight: normal;
	outline: none;
	padding: 1em;
	text-align: left;
	white-space: nowrap;
}

.rf-dt-b>.rf-dt-r .rf-dt-c {
	border-top: 1px solid #dbddde;
}

.rf-dt-b .rf-dt-r .rf-dt-c {
	border-bottom: 1px solid #dbddde;
	color: #363635;
	font-size: 12px;
	padding: 1em 0 1em 1em;
	position: relative;
	vertical-align: top;
}

.rf-dt-b .rf-dt-r .rf-dt-c label {
	font-size: 12px;
}

.rf-dt-b .rf-dt-r .rf-dt-c:last-child {
	padding-right: 1em;
}

.rf-dt-c ul li {
	margin: 0 0 .2em .5em;
}

tbody.rf-dt-b tr:hover {
	background-color: #e6e7e8;
}

tbody.rf-dt-b .rf-dt-nd {
	background-color: transparent;
}

.rf-tab-hdr-tabline-vis.rf-tab-hdr-tabline-top .rf-tab-hdr-tabs td.rf-tab-hdr-spcr {
	display: none;
}

.rf-tab-hdr-tabline-vis.rf-tab-hdr-tabline-top .rf-tab-hdr-tabs td.rf-tab-hdr-spcr.rf-tab-hortab-tabspcr-wdh {
	display: inline;
	padding: 2px;
}

.gnosys-bloco-conteudo .rf-dt .rf-dt-b>.rf-dt-c {
	padding: .75em .5em;
	height: 65px;
	border-bottom: 1px solid #dbddde;
}

.rf-tbp .rf-tab .rf-tab-cnt {
	padding: 0;
}

.rf-pp-cntr.gnosys-modal .rf-pp-shdw {
	background: none;
}

.rf-dt-b .rf-dt-nd .rf-dt-nd-c {
	background-color: #fff;
	border-bottom: 1px solid #dbddde;
	color: #f95b2a;
	font-size: .8em;
	padding: .5em 0 .5em 1em;
}

.rf-st-start {
	margin-left: .5em;
	color: #96989c;
	font-size: 13px;
	display: inline-block;
	vertical-align: middle;
}

.rf-st-start span {
	display: none;
}

.rf-dt-b .rf-dt-r .rf-dt-c a {
	font-size: 12px;
	margin-right: 1em;	
} 

.rf-dt-b .rf-dt-r .rf-dt-c a:last-child {
	margin-right: 0;
}

/********************************************** 
 Richfaces - Tooltip
**********************************************/

span.rf-tt-cntr {
	background-color: #fff;
	border: 1px solid #bdbfc1;
	border-radius: 10px 10px 10px 0;
	color: #363635;
	font-size: 12px;
	max-width: 360px;
}

/********************************************** 
 Resultado de busca de contato em tabela 
**********************************************/

.rf-dt-b .rf-dt-r .rf-dt-c.busca-contato {
	padding: .25em 1em;
}

.busca-contato a p {
	font-size: 11px;
	display: inline-block;
	margin: 0;
	white-space: nowrap;
	width: 50%
}

.busca-contato a p:first-child {
	color: #0095da;
	font-weight: bold;
}

.busca-contato a p:nth-child(2),
.busca-contato a p:last-child {
	text-align: right;
}

.rf-cal-btn {
	margin-left: 0 0 10px 5px;
}

.rf-cal-monthpicker-cnt {
	background-color: #fff;
}

.rf-au-lst-ul {
	background-color: white;
	margin: 0px;
	padding: 0px;
}

.rf-au-lst-scrl {
	width: 300px !important;
}